@keyframes s {
  to {
    stroke-dashoffset: 0;
  }
}

path[clip-path][style^="--i:"] {
  --time: 0.7s; /* time to draw a "max length stroke" */
  --gap: 0.7s; /* time between stroke starts */
  --delay: 0.5s; /* time before first stroke */
  animation: s var(--time) linear forwards
    calc(var(--i) * var(--gap) + var(--delay));
  stroke-dasharray: 3333;
  stroke-dashoffset: 3333;
}
