html {
  height: 100%;
}
body {
  height: 100%;
}

input,
textarea,
button,
select,
a {
  /* Ugly highlight box on CERTAIN browsers */
  -webkit-tap-highlight-color: transparent;
}

* {
  --at-apply: border-border;
}
body {
  --at-apply: bg-background text-foreground;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 8% 9%;

  /* --card: 0 0% 100%;
  --card-foreground: 0 8% 9%; */

  /* --popover: 0 0% 100%;
  --popover-foreground: 0 8% 9%; */

  --secondary: 0 4.8% 95.9%;
  --secondary-foreground: 4 7% 25%;

  --muted: 5 7% 90%;
  --muted-foreground: 5 5.3% 44.7%;

  --primary: 4 9.8% 10%;
  --primary-foreground: 0 9.1% 97.8%;

  /* --accent: 0 4.8% 95.9%;
  --accent-foreground: 4 7% 25%; */

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 9.1% 97.8%;

  --border: 0 5.9% 90%;
  --input: 0 5.9% 90%;
  --ring: 0 8% 9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 8% 9%;
  --foreground: 0 9.1% 97.8%;

  /* --card: 0 8% 9%;
  --card-foreground: 0 9.1% 97.8%; */

  /* --popover: 0 8% 9%;
  --popover-foreground: 0 9.1% 97.8%; */

  --secondary: 7 11% 7%;
  --secondary-foreground: 2 7% 80%;

  --muted: 5 9% 13%;
  --muted-foreground: 4 5.4% 63.9%;

  --primary: 0 9.1% 97.8%;
  --primary-foreground: 4 9.8% 10%;

  /* --accent: 7 11% 7%;
  --accent-foreground: 2 7% 80%; */

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 9.1% 97.8%;

  --border: 7 11% 7%;
  --input: 7 11% 7%;
  --ring: 4 5.7% 82.9%;
}

#sidebarHack[data-sidebar="left"] > aside {
  left: 0;
}

#sidebarHack[data-sidebar="right"] > main > div > ul {
  right: 0;
}

#tocParent > ul {
  position: fixed;
  top: 0;
  flex-shrink: 0;
  width: 250px;
  right: -250px;
  height: 100%;
  overflow-y: auto;
  --at-apply: bg-background transition-right p-6 z-10;
  scrollbar-width: none;
}

#tocParent > ul::-webkit-scrollbar {
  display: none;
}

#tocParent > ul::before {
  content: "On this page";
  --at-apply: font-semibold block mb-2;
}

/* xl */
@media (min-width: 1280px) {
  #tocParent > ul {
    position: sticky;
    right: 0;
    --at-apply: top-12 p-8;
    height: calc(100dvh - 3rem);
    overflow-y: auto;
  }
}

#sidebarHack > main > div ul > li > ul,
#sidebarHack > aside > div ul > li > ul {
  --at-apply: ml-4;
}
