html {
  /* Prevents reload/zoom on mobile */
  /* touch-action: none; */
}

html,
body {
  height: 100%;
}

input,
textarea,
button,
select,
a {
  /* Ugly highlight box on CERTAIN browsers */
  -webkit-tap-highlight-color: transparent;
}

* {
  --at-apply: border-border;
}
body {
  --at-apply: bg-background text-foreground;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 8% 9%;

  --card: 0 0% 100%;
  --card-foreground: 0 8% 9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 8% 9%;

  --primary: 4 9.8% 10%;
  --primary-foreground: 0 9.1% 97.8%;

  --secondary: 0 4.8% 95.9%;
  --secondary-foreground: 4 9.8% 10%;

  --muted: 0 4.8% 95.9%;
  --muted-foreground: 5 5.3% 44.7%;

  --accent: 0 4.8% 95.9%;
  --accent-foreground: 4 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 9.1% 97.8%;

  --border: 0 5.9% 90%;
  --input: 0 5.9% 90%;
  --ring: 0 8% 9%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 8% 9%;
  --foreground: 0 9.1% 97.8%;

  --card: 0 8% 9%;
  --card-foreground: 0 9.1% 97.8%;

  --popover: 0 8% 9%;
  --popover-foreground: 0 9.1% 97.8%;

  --primary: 0 9.1% 97.8%;
  --primary-foreground: 4 9.8% 10%;

  --secondary: 7 11% 7%;
  --secondary-foreground: 0 9.1% 97.8%;

  --muted: 7 11% 7%;
  --muted-foreground: 4 5.4% 63.9%;

  --accent: 7 11% 7%;
  --accent-foreground: 0 9.1% 97.8%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 9.1% 97.8%;

  --border: 7 11% 7%;
  --input: 7 11% 7%;
  --ring: 4 5.7% 82.9%;
}

/* Can't target TableOfContents component directly */
.tocHack > aside,
.tocHack > ul {
  display: none;
  width: 250px;
  --at-apply: p-8;
}

/* lg */
@media (min-width: 1024px) {
  .tocHack > aside {
    display: block;
  }
}

/* xl */
@media (min-width: 1280px) {
  .tocHack > ul {
    display: block;
  }
}

.tocHack > ul::before {
  content: "On this page";
  --at-apply: font-semibold block mb-2;
}

.tocHack ul > li > ul {
  --at-apply: ml-4;
}
